.page__contact{
  padding: 50px 20px;

  .col-12{
    margin-bottom: 50px;
  }

  h4{
    margin-bottom: 5px;
    color: $color-dark;
  }

  p{
    margin-bottom: 40px;
  }
}
.contact__img {
  text-align: right;
  width: auto;
  height: 100%;
  background: url('https://images.unsplash.com/photo-1502101872923-d48509bff386?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=60') no-repeat center center;

  @include media-768 {
    height: 250px;
  }
}
