.page__about {
  .about{
    padding-top: 50px;

    @include media-768 {
      padding: 50px 20px;
    }

    .img{
      transition: all .6s ease-in-out;
      @include media-768 {
        height: 0;
      }

      &:hover{
        background-position: left center;
        transition: all .6s ease-in-out;
      }
    }

    .about__img {
      text-align: right;
      width: auto;
      height: 100%;
      background: url('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/2QYig3GVPAXUFJTFF0n5XzDbrKl6RJbIaEwNJH8YKqqsu95tEGDdhXRk6AwXx4LfQt8LpyNkrHvDBrAPeLtiIqEnBTsdHvfbAUngVVzd6qMx0JuRl6hd427MEdnjV1j5.jpeg') no-repeat center right;

      @include media-768 {
        height: 500px;
      }
    }
  }

  .team{
    padding-top: 50px;
    text-align: left;
  }

}