.page__contact{
  padding: 50px 20px;

  .col-12{
    margin-bottom: 50px;
  }

  h4{
    margin-bottom: 5px;
    color: $color-dark;
  }

  p{
    margin-bottom: 40px;
  }
}
.contact__img {
  text-align: right;
  width: auto;
  height: 100%;
  background: url('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/UkToEftFlTg3CdM8SkgmEgalGJ54MYJYP9dcRKQSZXMC7BG5k71a7U4cm46iYhheQJhG0nZ4E45RTeovI9TQlLAvFEBEsXu6SkJrIN6AYuC82uew9PeEaKHMr0lRLLeg.jpeg') no-repeat center center;

  @include media-768 {
    height: 250px;
  }
}
