.menus, .dashboard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.menu{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.menu__bar a,
.nav__bar a {
  color: $color-primary;

  &:hover,
  &:active,
  &:focus {
    color: darken($color-primary, 15%);
  }
}

.menu__bar {
  background-color: $color-white;
  color: $color-primary;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  border-bottom: 1px dashed $color-light;

  .social,
  .logo,
  .search {
    display: flex;
    flex: 1;
    align-items: flex-end;
  }

  .logo{
    justify-content: center;
    a {
      width: 120px;
      height: 120px;
      background: url(./assets/capture_logo.png) no-repeat;
      background-size: contain;
      text-indent: 150%;
      white-space: nowrap;
      overflow: hidden;
      
      @include media-768 {
        width: 90px;
        height: 90px;
      }

    }

  }

  .search {
     justify-content: flex-end;
    
    .search__group{
      display: flex;
      align-items: flex-end;

      @include media-768 {
        display: none;
      }

      .search__input {
        width: 0;
        height: 25px;
        border-radius: 0;
        border: 0;
        padding-left: 5px;
        font-size: 0.8rem;
        margin-right: 5px;
        transition: all .3s ease-in-out;

        &::placeholder {
           color: $color-light;
        }
        &:focus {
          outline: 0;
          border: 0;
          box-shadow: none;
        }

        
      }

      &:hover, &:active, &:focus{
        .search__input {
          transition: all .3s ease-in-out;
          width: 80px;
          border-bottom: 1px solid $color-primary08;

          &:focus {
            transition: all .3s ease-in-out;
            border-bottom: 2px solid $color-primary08;
          }
        }


      }
    }
  }

  li{
    margin: 0 10px 15px 10px;
    font-size: 1.5rem;

    @include media-768 {
      display: none;
    }
  }

  .menu__burger{
    display: none;
    width: 40px;
    height: 30px;
    position: relative;
    cursor: pointer;

    @include media-768 {
      display: block;
    }

    span{
      position: absolute;
      width: 65%;
      height: 2px;
      background-color: $color-primary;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transition: all 0.3s ease-in-out;

      &:nth-child(1) {
        transform: translateY(-10px) rotate(0deg);
      }

      &:nth-child(2) {
        opacity: 1;
      }


      &:nth-child(3) {
        transform: translateY(10px) rotate(0deg);
      }

    }

    &:hover span {
      background-color: darken($color-primary, 15%)
    }

    &.close span{
      transition: all 0.3s ease-in-out;
      &:nth-child(1) {
        transform: translateY(0px) rotate(-135deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(0px) rotate(135deg);
      }
    }

  }

  .menu__control{
    cursor: pointer;
    &:hover i{
      color: darken($color-primary, 15%);
    }
  }
  
  i {
    vertical-align: middle;
  }

  .menu__cart {
    @include media-768 {
      display: block;
      font-size: 2rem;
    }
  }

  .cart__badge{
    padding: 2px 8px;
    margin-left: 5px;
    background: $color-primary08;
    color: $color-white;
    font-size: 0.6rem;
    font-style: normal;
    font-family: sans-serif;
    font-weight: 400;
    vertical-align: middle;
  }

  .menu__cart:hover .cart__badge {
    background-color: $color-dark;
  }
}

.nav__bar {
  border-bottom: 1px dashed $color-light;
  background-color: $color-white;
  font-size: 0;

  &.show {
    @include media-768 {
      display: block;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 110px;
      left: 0;
      background-color: rgba(112, 78, 0, 1);
      opacity: 1;
      padding: 20px 100px;
      transform: scaleZ(1);
      transition: all .3s ease-in-out;

    }
  }

  .nav__item {
    display: inline-block;
    padding: 15px;
    font-size: 1rem;
    
    &.hide {
      display: none;
       @include media-768 {
         display: block;
       }
    }

    @include media-768 {
      display: block;
      font-size: 1.2rem;
      font-weight: 300;
      padding: 8px;
    }

    a {

      transform: scale(1);
      transition: all 0.3s ease-in-out;

      @include media-768 {
        color: $color-light;
      }

      &:hover{
        font-weight: 400;
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
        

        @include media-768 {
          color: $color-white;
          transition: all 0.3s ease-in-out;
        }
      }
    }



    &.admin i {
      font-size: 1.5rem;
    }

    .icon {
      width: 40px;
      border-bottom: 1px solid $color-white;
      display: inline-block;
      padding: 15px 10px;
      transform: scale(1);
      transition: all 0.3s ease-in-out;
    }

    &.icons a:hover,
    &.admin a:hover {
      @include media-768 {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
      }
    }
    
  }

  @include media-768 {
    opacity: 0;
    height: 0;
    transform: scaleZ(0);
    transition: 0.3s ease-in-out;
    z-index: 1000;
  }

}

.search__nav {
  display: flex;
  justify-content: center;

  .search__input {
    width: 94px;
    height: 30px;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid $color-white;
    padding-left: 10px;
    font-size: 0.8rem;
    margin-right: 5px;
    background: $color-primary;
    color: $color-white;

    &::placeholder {
      color: $color-light;
    }

    &:focus {
      outline: 0;
      box-shadow: none;
    }


  }

  &:hover,
  &:active,
  &:focus{
    .search__input {
      border-bottom: 2px solid $color-white;

      &:focus
        {
        border-bottom: 2px solid $color-white;
      }
    }


  }
}

.dashboard{
  h2 {
    font-family: 'Raleway';
    font-size: 1.5rem;
    color: $color-dark;
    font-style: normal;
    margin-top: 50px;
  }

  li {
    font-size: 1rem;
  }
  i {
    font-size: 1.3rem; 
    vertical-align: middle;
  }

  .menu__signout{
    &:hover a{
      color: darken($color-primary, 15%);
    }
    @include media-768 {
      display: block;
    }
  }
}

.footer{
  height: 200px;
  padding: 50px;
  background: $color-primary08;
  
  .footer__icons li{
    display: inline-block;
    margin: 0 10px 20px;

    a{
      color: $color-light;
      font-size: 1.5rem;
    }

    &:hover a{
      color: $color-white;
    }
  }

  .footer__txt p{
    color: $color-light;
    margin-bottom: 5px;
    font-size: 0.8rem;
  }

}

.alert{
  border-radius: 0;
}